/node_modules
ssDB
/release-builds
/dist
/components
/helpers
/jobs
/src
/assets
index.html
index.js
package.json
helpers.js
loadCSS.js
loadJS.js
signup.html
dev-app-update.yml
electron-builder.yml
custom.js
